$inputBorderColor: #d9d9d9;
$violetColor: rgb(83, 86, 150);
$whiteColor: #fff;
$disabledColor: #cac2c2;

.button {
  width: 100%;
  border-radius: 2px;
  height: 34px;
  border: 1px solid;
  padding: 2px 7px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
}

.primary {
  background: $violetColor;
  border-color: $violetColor;
  color: $whiteColor;
}

.secondary {
  background: $whiteColor;
  border-color: $violetColor;
  color: $violetColor;
}

.disabled {
  background: $disabledColor;
  border-color: $violetColor;
  color: $whiteColor;
}